/* GENERAL */
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-size: 15px;
    font-family: Arial, sans-serif;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
} 
ul 
{
  list-style: none;
}
h1
{
    font-family: Arial, serif;
    font-size: 45px;
    color: #444;
}
.orange
{
    color: #ff7a00;
}
a
{
  text-decoration: none;
  color: #444;
}












/* HEADER */
header
{
    height: 120px;
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;
    margin-top: 50px;
    
}
header nav ul li 
{
    float:left;
    display: inline-block; 
}
header nav ul li a 
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}